# ===============================
# Node
# ===============================
node_modules/
npm-debug.log*
yarn-error.log*

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Uploads (user files)
# ===============================
server/uploads/

# ===============================
# Build outputs
# ===============================
client/dist/
client/build/

# ===============================
# OS / Editor junk
# ===============================
.DS_Store
.vscode/
.idea/